/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black03: rgba(000, 000, 000, 0.3);
  --basic-white: #ffffff;
  --basic-white03: rgba(255, 255, 255, 0.3);
  --basic-light-red: #fb565a;
  --basic-medium-red: #e74246;
  --basic-red: #d7373b;
  --basic-light-green: #00ca74;
  --basic-medium-green: #00bc6c;
  --basic-green: #00aa62;
  --basic-light-yellow: #efc849;
  --basic-medium-yellow: #eab534;
  --basic-yellow: #e5a722;
  --basic-dark: #283136;
  --basic-dark-grey: #4d4d4d;
  --basic-grey: #444444;
  --basic-light-grey: #eeeeee;

  /* footer */

  --basic-icon-grey: #e1e1e1;
  --basic-text-grey: #666666;

  /* button */

  --basic-hover-grey: #dfdfdf;
  --basic-active-grey: #d5d5d5;
}

/* Global */

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-light-grey);
}

/* Grid */

.page {
  height: 100%;
}

/* button */

.button {
  color: var(--basic-white);
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.button:active {
  color: var(--basic-white03);
}

.button-features {
  background-color: var(--basic-light-red);
}

.button-features:hover {
  background-color: var(--basic-medium-red);
}

.button-features:active {
  background-color: var(--basic-red);
}

.button-red {
  background-color: var(--basic-light-red);
}

.button-red:hover {
  background-color: var(--basic-medium-red);
}

.button-red:active {
  background-color: var(--basic-red);
}
.button-green {
  background-color: var(--basic-light-green);
}

.button-green:hover{
  background-color: var(--basic-medium-green);
}

.button-green:active {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-light-yellow);
}

.button-yellow:hover {
  background-color: var(--basic-medium-yellow);
}

.button-yellow:active {
  background-color: var(--basic-light-yellow);
}

.button-contacts {
  background-color: var(--basic-light-red);
}

.button-contacts:hover {
  background-color: var(--basic-medium-red);
}

.button-contacts:active {
  background-color: var(--basic-red);
}



/* main-navigation */


.main-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  width: 1160px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.basket a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.basket a:hover {
  color: var(--basic-light-red);
}

.site-navigation a:active,
.basket a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* cobtainer */

.container,
.socials {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/* Features */

.features {
  background-color: var(--basic-light-grey);

}

.features-list {
  list-style: none;
}

.features-text-main {
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: var(--basic-black);
}

/* services */

.title-service-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-img {
  background-color: var(--basic-grey);
}

/* Info */

.info {
  display: grid;
}

.info-column1 {
  grid-column: 1 / 14;
}

.info-column2 {
  grid-column: 17 / 24;
}

.info-text-main {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: var(--basic-black);
}

.info-title-guarantee {
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.info-list p {
  color: var(--basic-dark);
}

.info-item {
  line-height: 18px;
}

.info-list-percent {
  list-style: none;
}

.percent {
  font-size: 45px;
  color: var(--basic-black);
  font-weight: 700;
  line-height: 64px;
}


/* Partners */

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  list-style: none;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active {
  opacity: 0.1;
}

.socials {
  display: grid;
}

.socials-list {
  grid-column: 1 / 6;
}

.profitable {
  grid-column: 9 / 20;
}

/* Grid for page */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto auto;
  column-gap: 140px;
  align-content: start;
}

.filter {
  grid-row: 1 / -1;
}

/*Filters */

.interval-list {
  list-style: none;
}

.filter-list {
  list-style: none;
}



.sort-list {
  list-style: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

.filter-name {
  font-size: 18px;
  color: var(--basic-black);
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.interval-item {
  line-height: 22px;
  text-transform: uppercase;
}

.interval-input {
  background-color: var(--basic-light-grey);
}

.filter-input-radio:hover,
.filter-input-radio:active {
  color: var(--basic-dark-grey)
}

.filter-input-checkbox:hover,
.filter-input-checkbox:active {
  color: var(--basic-dark-grey)
}

.filter-button {
  opacity: 0.3;
}

.filter-button:hover {
  opacity: 0.6;
}

.filter-button:active {
  opacity: inherit;
}

.button-show {
  background-color: var(--basic-light-grey);
}

.button-show:hover {
  background-color: var(--basic-hover-grey);
}

.button-show:active {
  background-color: var(--basic-active-grey);
}
/* catalog */

.title-catalog {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 108px;
  margin-top: 0;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.template-list {
  list-style: none;
}

.template-title {
  font-size: 18px;
  color: var(--basic-black);
  font-weight: 700;
  line-height: 30px;
}

.tamplate-description {
  color: var(--basic-text-grey);
}

.template-item a:hover {
  color: var(--basic-light-red);
}

.template-title:active {
  opacity: 0.3;
}

.img-browser {
  opacity: 0.12;
}

.img-browser:hover {
  opacity: 1;
}

.pagination-list {
  list-style: none;
}

.item-number {
  color: var(--basic-black);
}

.pagination-list a:active {
  color: var(--basic-black03);
}


/* footer */

.map {
  background-color: var(--basic-grey);
}

.footer-address {
  line-height: 18px;
  font-style: normal;
}

.company-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-phone {
  color: var(--basic-text-grey);
}

.socials-list {
  list-style: none;
}

.socials-button {
  width: 81px;
  height: 81px;
  background-color: var(--basic-icon-grey);
}

.profitable {
  color: var(--basic-grey);
  line-height: 22px;
}

.profitable-title {
  color: var(--basic-black);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}


.map {
  background-color: var(--basic-grey);
}

/* Popup */

.popup {
  color: var(--basic-black);
}

.popup-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
}

.popup-description {
  line-height: 18px;
  font-weight: 700;
}

.button-popup {
  background-color: var(--basic-light-red);
}
