:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-red: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-dark: #283136;
  --basic-grey: #444444;
  --basic-dark-grey: #666666;
  --basic-light-grey: #eeeeee;
}
